<header class="header-trans">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-sm-4 col-md-12 col-4">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png', class: "logo__img"), index_path %>
				</div>
			</div>
			<div class="col-lg-2 border--left d-none d-md-none d-lg-block">
				<ul class="logo-desc__ul">
					<li class="logo-desc__li">
						Международная сеть
					</li>
					<li class="logo-desc__li">
						туристических
					</li>
					<li class="logo-desc__li">
						агенств
					</li>
				</ul>
			</div>
			<div class="col-lg-8 col-md-12 d-none d-md-none d-lg-block">
				<div class="row">
					<div class="col-lg-8">
						<div class="menu-phones">
							<span class="menu__span text--black text--bold">UA:</span>
							<a class="menu__phone text--bold pink--text" href="tel:+380443346319">+38044‎3346319</a>
					
							<a class="icon--mail" href="mailto:info@travel-me.agency">
								<div class="tooltip">
									<%= image_tag "mail-opt.png", class: "menu__img tooltip" %>
									<span class="tooltiptext">info@travel-me.agency</span>
								</div>
							</a>
							<a class="icon--ins" href="https://www.instagram.com/travel_me_agency/" target="_blank">
								<%= image_tag "instagram-opt.png", class: "menu__instagram" %>
							</a>
							<a class="icon--fb" href="https://www.facebook.com/Travel-me-Agency-1910529205645053/">
								<%= image_tag "facebook-opt.png", class: "menu__facebook" %>
							</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="selection">
							<a data-remodal-target="modal" class="selection__btn">Подать заявку онлайн</a>
						</div>
					</div>
				</div>
			
			

				<nav class="menu">
					<ul class="menu__ul">
						<li class="menu__li">
							<%= link_to "Подобрать тур", root_path + '#search', class: 'menu__link' %>
						</li>
						<li class="menu__li">
							<%= link_to "Горящие туры", root_path + '#hot', class: 'menu__link' %>
						</li>
						<li class="menu__li">
							<%= link_to "Популярные туры", populars_path, class: 'menu__link' %>
						</li>
						<li class="menu__li">
							<%= link_to "Франчайзинг", franchise_path, class: 'menu__link' %>
						</li>
						<li class="menu__li">
							<%= link_to "Точки продаж", contacts_path, class: 'menu__link' %>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-md-12 col-sm-6 col-6 d-lg-none d-md-none">
				<div class="mob-contacts">
					<a class="mob-contacts__phone" href="tel:+380443346319">
						<span class="text--black">
							UA
						</span> +38044‎3346319
					</a>
				</div>
			</div>
			<div class="col-md-12 col-sm-2 col-2 d-lg-none d-md-none">

				<ul class="test__ul">
					<li class="test__li">
						<a href="mailto:info@travel-me.agency">
							<%= image_tag "mail.png", class: "mob-top__icon" %>
						</a>
					</li>
					<li class="test__li">
						<a href="https://www.instagram.com/travel_me_agency/">
							<%= image_tag "instagram.png", class: "mob-top__icon" %>
						</a>
					</li>
					<li class="test__li">
						<%= image_tag "facebook.png", class: "mob-top__icon" %>
					</li>
				</ul>
			</div>
			<div class="col-lg-12 d-lg-none d-md-none">
				<div class="mobile-selection">
					<a data-remodal-target="modal" class="selection__btn">Подать заявку онлайн</a>
				</div>
				<ul class="mobile-nav__ul">
					<li class="mobile-nav__li">
						<p class="hamburger js-toggle-menu mobile-nav__icon">
              Меню
            </p>
					</li>
				</ul>
			</div>
			<div class="col-md-12 col-12">
				<nav class="mobile-nav-wrap" role="navigation">
					<ul class="mobile-header-nav">
						<li class="mobile-header__li">
							<%= link_to "Подобрать тур", root_path + '#search', class: 'mobile-header__link' %>
						</li>
						<li class="mobile-header__li">
							<%= link_to "Горящие туры", root_path + '#hot', class: 'mobile-header__link' %>
						</li>
						<li class="mobile-header__li">
							<%= link_to "Франчайзинг", franchise_path, class: 'mobile-header__link' %>
						</li>
						<li class="mobile-header__li">
							<%= link_to "Точки продаж", contacts_path, class: 'mobile-header__link' %>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>