<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png'), index_path %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<p>Бесплатная линия: 
						<% if I18n.locale == :ua %>
						<span>0 800 832 12 12</span>
						<% else%>
						<span>0 800 123 43 12</span>
						<% end %>
					</p>
					<ul>
						<li><%= link_to "Подобрать тур", '#search' %></li>
						<li><%= link_to "Горящие туры", index_path %></li>
						<li><%= link_to "Минимальные цены", index_path %></li>
						<li><%= link_to "Франчайзинг", franchise_path %></li>
						<li><%= link_to "Точки продаж", contacts_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>