<div class="koffer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png'), index_path %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<ul>
						<li><%= link_to "Подобрать тур", '#search' %></li>
						<li><%= link_to "Горящие туры" %></li>
						<li><%= link_to "Минимальные цены" %></li>
						<li><%= link_to "Франчайзинг", franchise_path %></li>
						<li><%= link_to "Точки продаж" %></li>					</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="trigger-banner">
						<h1>Выбирай туры по душе</h1>
						<h2>Путешествуй по всему миру</h2>
						<div class="module">
							<div class="tv-search-form tv-moduleid-182685"></div>
							<script type="text/javascript" src="//tourvisor.ru/module/init.js"></script>
						</div>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner">
						<%= image_tag 'barge.png' %>
					</div>
				</div>
				<div class="col-lg-12">
				</div>
			</div>
		</div>
	</div>

