<header class="header-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png'), index_path %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<p>Бесплатная линия: 
						<span>0 800 33 29 25</span>
					</p>
					<ul>
						<li><%= link_to "Подобрать тур", root_path + '#search' %></li>
						<li><%= link_to "Горящие туры", root_path + '#hot' %></li>
						<li><%= link_to "Минимальные цены", root_path + '#hot'%></li>
						<li><%= link_to "Франчайзинг", franchise_path %></li>
						<li><%= link_to "Точки продаж", contacts_path %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>