<%= form_with(model: point, local: true) do |form| %>
<% if point.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

  <ul>
    <% point.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
  <div class="col-lg-6">
    <%= form.text_field :title, class: "form-control admin__input", placeholder: "Название города", required: true %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :phoneone, class: "form-control admin__inputmargin--bottom-l margin--bottom-l", placeholder: "Номер телефона" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :phonetwo, class: "form-control admin__input margin--bottom-l", placeholder: "Номер телефона 2" %>
  </div>
  <div class="col-lg-6">
    <%= form.collection_select :city_id, City.order(:title), :id, :title, { include_blank: "Выберите город" }, class: "form-control margin--bottom-l" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :emailone, class: "form-control admin__input margin--bottom-l", placeholder: "Email 1" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :emailtwo, class: "form-control admin__input margin--bottom-l", placeholder: "Email 2" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :name, class: "form-control admin__input margin--bottom-l", placeholder: "Имя и Фамилия точки продаж" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :address, class: "form-control admin__input margin--bottom-l", placeholder: "Адрес точки продаж" %>
  </div>
  <div class="col-lg-6">
    <%= form.text_field :worktime, class: "form-control admin__input margin--bottom-l", placeholder: "Рабочее время" %>
  </div>
  <div class="col-lg-6">

    <div class="form-check">
      <%= form.check_box :coming_soon, class: "form-check-input" %>
      <label class="form-check-label" for="defaultCheck1">
        Точка ожидает открытия?
      </label>
    </div>
    <p>
    </p>
  </div>

</div>

<div class="actions">
  <%= form.submit class: "admin__btn", value: "Добавить город" %>
</div>
<% end %>