<%= render 'components/header' %>
<div class="tour-prev">
	<%= image_tag @tour.banner.url %>
	<div class="tour-prev_text">
		<h6><%= @tour.title %></h6>
	</div>
</div>
<div class="tour-desc"">	
	<div class="container">
		<div class="row">
			<!--
			<div class="col-lg-5">
				<div class="autoplay">
					<div>your content</div>
					<div>your content</div>
					<div>
						<%= image_tag 'logo2.png' %>
					</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
					<div>your content</div>
				</div>
			</div>
			-->
			<div class="col-lg-12">
				<%= @tour.description.html_safe %>
			</div>
		</div>
	</div>
</div>
<%= render 'components/footer' %>

<script>

	$('.autoplay').slick({
		slidesToShow: 2,
		slidesToScroll: 1,
		autoplay: true,
		adaptiveHeight: true,
		autoplaySpeed: 2000,
		prevArrow: $('.prev'),
		nextArrow: $('.next'),


		responsive: [
		{
			breakpoint: 1024,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2,
				infinite: true,
			}
		},
		{
			breakpoint: 600,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2
			}
		},
		{
			breakpoint: 480,
			settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			}
		}
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
    ]
});
</script>