<% content_for :head do %>
<% @metatags.where(page: 'franchise').each do |metatag| %>
<title><%= metatag.title %></title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content="<%= metatag.keywords %>" />
<% end %>
<% end %>
<%= render 'components/headtwo' %>

<section class="franchise">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="franchise__h1">
					Купи франшизу всего за 1 доллар сша..
				</h1>
			</div>
			<div class="col-lg-12">
				<h2 class="franchise__h2 text--right">
					..и открой свой бизнес уже завтра вместе с нами!
				</h2>
			</div>
			<div class="col-lg-8 offset--top-l">
				<p class="franchise__p">
					<span class="text--bold">
						TRAVEL ME AGENCY
					</span>
					– cовременная лидирующая международная сеть туристичестких агентств, которая
					активно развивается на территории 8 стран Европейского Союза.
				</p>
				<p class="franchise__p">
					С 2018 года компания запустила продажу собственных франшиз на рынках России, Украины, Белорусии,
					Казахстана и других странах СНГ.
				</p>
				<p class="franchise__p">
					Стать владельцем собственного офиса <span class="text--bold">TRAVEL ME AGENCY</span> теперь может
					каждый из вас.
				</p>
				<p class="franchise__p">
					<span class="text--bold">
						<i>«Мир без границ!»</i>
					</span>
					- главный лозунг компании.
				</p>
				<p class="franchise__p">
					<span class="text--bold">Основные направления</span> деятельности сети агенств <span
						class="text--bold">TRAVEL ME AGENCY:</span>
				</p>
				<ul class="franchise__ul">
					<li class="franchise__li">- Международный туризм</li>
					<li class="franchise__li">- Визовая подержка</li>
					<li class="franchise__li">- Продажа авиа, автобусных, ж/д билетов</li>
					<li class="franchise__li">- Страхование</li>
					<li class="franchise__li">- Аренда авто</li>
					<li class="franchise__li">- Аренда вилл, апартаментов</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<%= image_tag 'logo2.png', class: "franchise__img" %>
				<%= image_tag 'office.jpg', class: "franchise__img" %>
			</div>
		</div>
	</div>
	<div class="propose">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="propose__h2 text--center text--bold">
						Окрой свой успешный независимый бизнес, что даст возможность развиваться и получать стабильную
						прибыль за
						счет повышенных комиссий.
					</h2>
				</div>
				<div class="col-lg-12">
					<p class="propose__p">
						Команда специалистов отдела START UP – поможет с открытием офиса «под ключ» с момента подачи
						вашей заявки,
						до момента продажи первого тура, взяв на себя все доверенные обязательства.
					</p>
					<p class="propose__p">
						Приобретая франшизу <span class="text--bold">TRAVEL ME AGENCY</span> вы получаете:
					</p>
					<ul class="propose__ul">
						<li class="propose__li">
							- Полная поддержка специалистами главного офиса в получении всех разрешительных документов
							для
							регистрации юр.лица в кратчайшие сроки
						</li>
						<li class="propose__li">
							- Бухгалтерская и юридическая поддержка
						</li>
						<li class="propose__li">
							- Получение лицензий, банковской гарантии
						</li>
						<li class="propose__li">
							- Контракты со всеми основными действующими туроператорами вашей страны с повышенной
							агентской
							комиссией
						</li>
						<li class="propose__li">
							- Собственный международный корпоративный сайт <a
								href="https://www.travel-me.agency">www.travel-me.agency</a>, с контактами вашего
							офиса
						</li>
						<li class="propose__li">
							- Единый Колл-центр сети
						</li>
						<li class="propose__li">
							- Онлайн системы для поиска туров, аренды недвижимости и авто, страхования
						</li>
						<li class="propose__li">
							- Помошь в поиске будущего офисе в вашем регионе
						</li>
						<li class="propose__li">
							- Бесплатное обучение франчайзи и менеджеров агентства: (собственная школа туризма,
							обучающие семинары по страхованию, вебинары)
						</li>
						<li class="propose__li">
							- Подготовка рекламной и промо компании при открытии офиса
						</li>
						<li class="propose__li">
							- Запуск точки продаж
						</li>
					</ul>
				</div>
				<div class="col-lg-8">
					<p class="propose__p text--bold">
						Требования к франчайзи:
					</p>
					<ul class="propose__ul">
						<li class="propose__li">
							- Собственный, либо арендуемый офис, или островок open space от 5-25 кв.м
						</li>
						<li class="propose__li">
							- Желание иметь свой прибыльный бизнес
						</li>
						<li class="propose__li">
							- Желание учиться
						</li>
						<li class="propose__li">
							- Желание развиваться
						</li>
						<li class="propose__li">
							- Желание быть успешным
						</li>
						<li class="propose__li text--bold">
							- Во всем остальном мы вам поможем!
						</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<%= image_tag 'office.jpg' %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="buy">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p class="buy__p">
					Головной BACK OFFICE компании в режиме 24/7 оказывает международную поддержку, консультации
					франчайзи и клиентов официальных точек продаж.
				</p>
				<p class="buy__p">
					Каждый новый офис получает доступ к собственной CRM системе компании, а так же корпоративный сайт.
				</p>
				<p class="buy__p">
					Присоединяясь к <span class="text--bold"> TRAVEL ME AGENCY</span> больше нет ограничений в
					фиксированном количестве туроператоров для
					сотрудничества. Сеть агентств работает со всеми существующими туроператорами вашей страны.
				</p>
				<p class="buy__p">
					Если вы найдете оператора на рынке услуг, с которым мы еще не сотрудничаем – на следующий день
					данный оператор станет нашим новым официальным партнером!
				</p>
				<p class="buy__p buy--red text--bold">
					Стоимость франшизы: (Россия, Украина и в странах СНГ) - 1 $ USD
				</p>
				<p class="buy__p">
					Купить франшизу TRAVEL ME AGENCY теперь возможно и в вашей стране! Позвоните по указанным ниже
					телефонам, наши специалисты с удовольствием проконсультируют более детально вас по всем вопросам
					приобретения франшизы в вашем регионе.
				</p>
				<p class="buy__p">
					Звоните по номерам телефонов:
				</p>
				<a class="buy__phone" href="tel:+380443336732">+38 044 333 67 32 |</a>
				<a class="buy__phone" href="tel:+442080896595">+442 080 89 65 95 |</a>
				‎<a class="buy__phone" href="tel:+74951282039">+7 495 128 20 39</a>
				<p class="buy__p">
					Заявку на звонок, а так же на получение презентации франшизы вы можете оставить, написав письмо на
					корпоративную почту компании: <a
						href="mailto:franchise@travel-me.agency">franchise@travel-me.agency</a>, указав ваше имя,
					страну, регион, номер
					телефона для связи. После чего в кратчайшие сроки с вами свяжется наш специалист по международному
					франчайзингу.
				</p>
			</div>
		</div>
	</div>
</section>

<%= render 'components/footer' %>