<% content_for :head do %>
<% @metatags.where(page: 'franchise').each do |metatag| %>
<title><%= metatag.title %></title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content= "<%= metatag.keywords %>" />
<% end %>
<% end %>
<%= render 'components/header' %>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="trigger-franchise">
				<h3>
					Стань частью комманды TRAVEL ME
				</h3>
			</div>
			<p><strong>TRAVEL ME AGENCY</strong> – cовременная лидирующая международная сеть туристичестких агентств, которая активно развивается на территории 17 стран Европейского Союза.</p>
			<p>С 2018 года компания запустила предпродажу собственных франшиз на рынках России, Украины, Белорусии, Казахстана и других странах СНГ.</p>
			<p>Стать владельцем собственного офиса <strong>TRAVEL ME AGENCY</strong> теперь может каждый.</p>
			<p><i><strong>«Нет ни каких границ!»</strong></i> - главный лозунг компании.</p>
			<p>
				<strong>Основные направления</strong> деятельности сети агенств <strong>TRAVEL ME</strong> AGENCY: 
			</p>
			<ul>
				<li>- Международный туризм</li>
				<li>- Продажа авиа, автобусных, ж/д билетов</li>
				<li>- Страхование</li>
				<li>- Аренда авто</li>
				<li>- Аренда вилл, апартаментов</li>
				<li>- Международный рекрутинг, стажировки</li>
				<li>- Обучение за границей</li>
			</ul>

		</div>
		<div class="col-lg-4">
			<div class="franch-back">
				<%= image_tag 'logo2.png' %>
			</div>
			<div class="franch-back">
				<%= image_tag '2travel.jpg' %>
			</div>
		</div>

	</div>
</div>
<div class="propose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="open">
					<p><strong>Открой свой успешный независимый бизнес, что даст возможность развиваться и получать стабильную прибыль за счет повышенных комиссий в более чем 8 направлениях деятельности агентства одновременно.</strong></p>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="left">
					<p>Команда специалистов отдела START UP – поможет с открытием офиса «под ключ» с момента подачи вашей заявки, до момента продажи первого тура, взяв на себя все доверенные обязательства.</p>
					<ul>
						<li>- Полная поддержка в получении всех разрешительных документов для регистрации юр.лица в кратчайшие сроки</li>
						<li>- Получение лицензий, банковской гарантии</li>
						<li>- Контракты со всеми действующими туроператорами вашей страны</li>
						<li>- Помошь в поиск будущего офисе в вашем регионе</li>
						<li>- Бесплатное обучение франчайзи и менеджеров агентства:
							(собственная школа туризма, обучающие семинары по страхованию, введение в систему международного рекрутинга, вебинары по образовательным проектам)</li>
							<li>- Подготовка рекламной и промо компании при открытии офиса</li>
							<li>- Запуск точки продаж</li>
						</ul>
						<p>Головной BACK OFFICE компании в режиме 24/7  оказывает международную поддержку, консультации франчайзи и клиентов официальных точек продаж.</p>
						<p>Каждый новый офис получает доступ к CRM системе компании, а так же корпоративный сайт.</p>
						<p>Присоединяясь к TRAVEL ME AGENCY больше нет ограничений в фиксированном количестве туроператоров для сотрудничества. Сеть агентств работает со всеми существующими туроператорами вашей страны. Если вы найдете оператора на рынке услуг, с которым мы еще не сотрудничаем – на следующий день данный оператор станет нашим новым официальным партнером!</p>
						<p><strong>Стоимость франшизы в странах СНГ : 1500$.</strong></p>
						<p><strong>Роялти:  30-50$/мес. (первые 6 месяцев после открытия офиса роялти не оплачиваются)</strong></p>
					</div>
				</div>
				<div class="col-lg-4">
					dfg
				</div>

			</div>
		</div>
	</div>
	<div class="buy">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>Купить франшизу <strong>TRAVEL ME AGENCY</strong> теперь возможно и в вашей стране!</p>
					<p>Позвоните к нам по указанным ниже контактым телефонам и наши специалисты с удовольствием и прекрасным настроением проконсультируют более детально вас по всем деталям приобретения франшизы в вашем регионе.</p>
					<p><strong>Россия: +7 800 432 12 43</strong></p>
					<p><strong>Украина: +7 800 432 12 43</strong></p>
					<p><strong>Беларусь: +7 800 432 12 43</strong></p>
					<p><strong>Другие страны СНГ: +7 800 432 12 43</strong></p>
					<p>Заявку на звонок от специалиста вы так же можете оставить, написав короткое письмо на корпоративную почту компании: <a href="mailto:franchise@travel-me.agency">franchise@travel-me.agency</a>, указав ваше имя, страну, регион, номер телефона для связи. После чего в кратчайшие сроки с вами свяжется наш специалист по международному франчайзингу.</p>
					<p><strong>Спасибо за проявленный интерес к нашей франшизе!)</strong></p>
					<p>С уважением, Международная сеть TRAVEL ME AGENCY <a href="https://www.travel-me.agency">www.travel-me.agency</a></p>
				</div>
			</div>
		</div>
	</div>
	<%= render 'components/footer' %>