<div class="island">
	<%= render "components/header" %>
	<div class="container">
		<div class="col-lg-12">
			<h1 class="island__h1">
				Отдыхайте вместе с
				<span class="island__h1--transparent">
					Travel-me.agency
				</span>
			</h1>
		</div>

		<script>
			var osGeo = ''; /* Страна, курорт или отель по умолчанию в форме поиска */
			var osDefaultDeparture = ''; /* ID города или название на языке модуля */
			var osDefaultDuration = ''; /* Начальная длительность в днях */
			var osTarget = ''; /* URL для отправки формы */
			var osContainer = '.results'; /* Элемент DIV, в котором выводить результаты поиска */
			var osTourContainer = '.results'; /* Элемент DIV, в котором выводить подробную информацию о туре */
			var osLang = 'ru'; /* Язык интерфейса (ru|ua) */
			var osTourTargetBlank = true; /* Открывать страницу тура в новом окне? */
			var osOrderUrl = null; /* Вместо формы заказа, переходить на указанный url */
			var osCurrency = 'original'; /* Валюта для вывода туров: converted – гривна, original – в валюте тура $ или € */
	</script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic" rel="stylesheet">
	<link rel="Stylesheet" href="https://export.otpusk.com/os/onsite/form.css" type="text/css" />
	<link rel="Stylesheet" href="https://export.otpusk.com/os/onsite/result.css" type="text/css" />
	<link rel="Stylesheet" href="https://export.otpusk.com/os/onsite/tour.css" type="text/css" />
	<script src="https://export.otpusk.com/api/session?access_token=2ea96-14dc1-928a6-c7625-2cb1e"></script>
	<script src="https://export.otpusk.com/js/onsite/"></script>
	<script src="https://export.otpusk.com/js/order"></script>
							

	</div>
</div>
	<div class="container">
			<div class="results"></div>
</div>
<%= render 'components/hot' %>
<%= render 'components/footer'%>

<% content_for :seo do %>
<title>Сеть туристических агентств Travel Me Agency</title>
<meta name="description" content="Travel Me Agency">
<meta name="keywords" content="туристическое агентство, купить тур">
<meta property="og:image"
	content="<%= image_url 'og.jpg' %>" />
<link rel="canonical" href="<%= request.url %>" itemprop="url">
<meta property="og:site_name" content="travel-me.agency | TRAVEL ME AGENCY">
<meta property="og:url" content="https://travel-me.agency/">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<% end %>


<script>

$(".new_f-form-submit").click(function(){
  $(".results").css("padding", "40px 0");
});

</script>