<% content_for :head do %>
<% @metatags.where(page: 'index').each do |metatag| %>
<title>
	<%= metatag.title %>
</title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content="<%= metatag.keywords %>" />
<% end %>
<% end %>
<div class="island">
<%= render "components/header" %>
	<div class="container offset--top">
		<div class="search" id="search">
			<div id="itTourWidgetWrapper"></div>
			<script id="itTourWidgetScriptJsx"
				src="https://www.ittour.com.ua/tour_search.jsx?id=21D7945303G146557O119119&ver=3"></script>
		</div>
	</div>
</div>
<%# render 'components/choose'%>
<%# render 'components/hot' %>
<%= render 'components/footer'%>