<% content_for :head do %>
<% @metatags.where(page: 'index').each do |metatag| %>
<title>
	<%= metatag.title %>
</title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content="<%= metatag.keywords %>" />
<% end %>
<% end %>
<div class="island">
	<%= render "components/header" %>
	<div class="container offset--top">
		<div class="module">
			<script type="text/javascript" language="JavaScript"
				src="//tourclient.ru/f/jsboot/crm155838/find_tour_form?style=full&conf=default"></script>
		</div>
	</div>
</div>

<section class="test">
	<div class="container results">
		<script type="text/javascript" language="JavaScript"
			src="//tourclient.ru/f/jsboot/crm155838/find_tour_offers?style=default&conf=default"></script>
	</div>
</section>
<%= render 'components/hot' %>
<%= render 'components/footer'%>


<style>
	.results {
		margin-top: -55px;
	}

	.module {
		background-color: rgba(255, 255, 255, 0.84);
		padding: 18px 10px 8px;
		border-radius: 12px;
	}
</style>