<%= javascript_include_tag "jqformap"  %>
<%= javascript_include_tag "map_init-min"  %>
<%= javascript_include_tag "cusel-2.5-min"  %>

<%= render 'components/headtwo' %>
<section class="world">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="world__h1 text--center">Региональные представительства - <%= @contact.title %></h1>
        <div class="wrap">
          <div class="wrapper">
            <div class="map-tabs">
              <div class="clearfix">
                <ul class="map-tab-ul">
                </ul>
              </div>
              <div id="tabs-1" class="open-tabs">
                <div class="map-ukraine" data-href="/cities/city_id">
                  <%= javascript_include_tag "map_data" %>
                  <div class="rh region1"></div>
                  <div class="rh region2"></div>
                  <div class="rh region3"></div>
                  <div class="rh region4"></div>
                  <div class="rh region5"></div>
                  <div class="rh region6"></div>
                  <div class="rh region7"></div>
                  <div class="rh region8"></div>
                  <div class="rh region9"></div>
                  <div class="rh region10"></div>
                  <div class="rh region11"></div>
                  <div class="rh region12"></div>
                  <div class="rh region13"></div>
                  <div class="rh region14"></div>
                  <div class="rh region15"></div>
                  <div class="rh region16"></div>
                  <div class="rh region17"></div>
                  <div class="rh region18"></div>
                  <div class="rh region19"></div>
                  <div class="rh region20"></div>
                  <div class="rh region21"></div>
                  <div class="rh region22"></div>
                  <div class="rh region23"></div>
                  <div class="rh region24"></div>
                  <div class="rh region25"></div>
                  <%= image_tag "map/map-ukraine-overlay.png", class: 'map-ukraine-overlay', alt: '', usemap: '#map-ukraine1' %>

                  <map id="map-ukraine1" name="map-ukraine1">
                  </map>
                  <%= link_to "Черкасская", 'cherkassy-region#city', class: 'rl rgn_lnk1', id: 'Cherkassy', rel: 'Cherkassy' %>

                  <%= link_to "Черниговская", 'chernigov-region#city', class: 'rl rgn_lnk2', id: 'Chernigov', rel: 'Chernigov' %>

                  <%= link_to "Симферополь", 'cherkassy-region#city', class: 'rl rgn_lnk4', id: 'Simferopol', rel: 'Simferopol' %>

                  <%= link_to "Днепропетровская", 'dnepropetrovsk-region#city', class: 'rl rgn_lnk5', id: 'Dnepropetrovsk', rel: 'Dnepropetrovsk' %>

                  <%= link_to "Донецкая", 'donetsk-region#city', class: 'rl rgn_lnk6', id: 'Donetsk', rel: 'Donetsk' %>

                  <%= link_to "Харьковская", 'harkov-region#city', class: 'rl rgn_lnk8', id: 'Harkov', rel: 'Harkov' %>

                  <%= link_to "Херсонская", 'kherson-region#city', class: 'rl rgn_lnk9', id: 'Kherson', rel: 'Kherson' %>

                  <%= link_to "Хмельницкая", 'khmelnitskiy-region#city', class: 'rl rgn_lnk10', id: 'Khmelnitskiy', rel: 'Khmelnitskiy' %>

                  <%= link_to "Киевская", 'kiev-region#city', class: 'rl rgn_lnk11', id: 'Kiev', rel: 'Kiev' %>

                  <%= link_to "Кировоградская", 'kirovograd-region#city', class: 'rl rgn_lnk12', id: 'Kirovograd', rel: 'Kirovograd' %>

                  <%= link_to "Луганская", 'lugansk-region#city', class: 'rl rgn_lnk13', id: 'Lugansk', rel: 'Lugansk' %>

                  <%= link_to "Волынская", 'lutsk-region#city', class: 'rl rgn_lnk14', id: 'Lutsk', rel: 'Lutsk' %>

                  <%= link_to "Львовская", 'lvov-region#city', class: 'rl rgn_lnk15', id: 'Lvov', rel: 'Lvov' %>

                  <%= link_to "Николаевская", 'nikolaev-region#city', class: 'rl rgn_lnk16', id: 'Nikolaev', rel: 'Nikolaev' %>

                  <%= link_to "Одесская", 'odessa-region#city', class: 'rl rgn_lnk17', id: 'Odessa', rel: 'Odessa' %>

                  <%= link_to "Полтавская", 'poltava-region#city', class: 'rl rgn_lnk18', id: 'Poltava', rel: 'Poltava' %>

                  <%= link_to "Ровенская", 'rovno-region#city', class: 'rl rgn_lnk19', id: 'Rovno', rel: 'Rovno' %>

                  <%= link_to "Сумская", 'sumy-region#city', class: 'rl rgn_lnk20', id: 'Sumy', rel: 'Sumy' %>

                  <%= link_to "Закарпатская", 'uzhgorod-region#city', class: 'rl rgn_lnk22', id: 'Uzhgorod', rel: 'Uzhgorod' %>

                  <%= link_to "Винницкая", 'vinnitsa-region#city', class: 'rl rgn_lnk23', id: 'Vinnitsa', rel: 'Vinnitsa' %>

                  <%= link_to "Запорожская", 'zaporozhye-region#city', class: 'rl rgn_lnk24', id: 'Zaporozhye', rel: 'Zaporozhye' %>

                  <%= link_to "Житомирская", 'zhitomir-region#city', class: 'rl rgn_lnk25', id: 'Zhitomir', rel: 'Zhitomir' %>

                  <%= link_to "Ивано-Франковская", 'ivano-frankovsk-region#city', class: 'rl rgn_lnk7', id: 'Ivano-Frankovsk', rel: 'Ivano-Frankovsk' %>

                  <%= link_to "Тернопольская", 'ternopol-region#city', class: 'rl rgn_lnk21', id: 'Ternopol', rel: 'Ternopol' %>

                  <%= link_to "Черновицкая", 'chernovtsy-region#city', class: 'rl rgn_lnk3', id: 'Chernovtsy', rel: 'Chernovtsy' %>
                </div>
              </div>


              <div class="map_preloader">
                <div class="prld1"> </div>
                <div class="prld2"> </div>
                <div class="prld3"> </div>
                <div class="prld4"> </div>
                <div class="prld5"> </div>
                <div class="prld6"> </div>
                <div class="prld7"> </div>
                <div class="prld8"> </div>
                <div class="prld9"> </div>
                <div class="prld10"> </div>
                <div class="prld11"> </div>
                <div class="prld12"> </div>
                <div class="prld13"> </div>
                <div class="prld14"> </div>
                <div class="prld15"> </div>
                <div class="prld16"> </div>
                <div class="prld17"> </div>
                <div class="prld18"> </div>
                <div class="prld19"> </div>
                <div class="prld20"> </div>
                <div class="prld21"> </div>
                <div class="prld22"> </div>
                <div class="prld23"> </div>
                <div class="prld24"> </div>
                <div class="prld25"> </div>
              </div>
            </div>
          </div>

          </html>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cities margin--tb-xl" id="city">
  <div class="container">
    <div class="row">
      <% if @contact.cities.count == 0 %>
      <div class="col-lg-12">
        <h3 class="cities__none">
          Скоро открытие в Вашей области.
        </h3>
      </div>
      <% else %>
      <% @cities.each do |city| %>
      <!-- <div class="col-lg-2">
        <%= image_tag "threeb.jpg", class: "cities__img" %>
      </div> -->
      <div class="col-lg-4">
        <ul class="cities__ul">
          <li class="cities__li">
            <h2 class="cities__h2">
                <%= city.title %>
            </h2>
          </li>
          <% if city.emailone != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Email:
            </span>
            <a class="cities__link" href="mailto:<%= city.emailone %>">
              <%= city.emailone %>
            </a>
          </li>
          <% end %>
          <% if city.emailtwo != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Email:
            </span>
            <a class="cities__link" href="mailto:<%= city.emailtwo %>">
              <%= city.emailtwo %>
            </a>
          </li>
          <% end %>
          <% if city.phoneone != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Моб.
            </span>
            <a href="tel:+<%= city.phoneone %>">
              <%= city.phoneone %>
            </a>
          </li>
          <% end %>
          <% if city.phonetwo != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Моб.
            </span>
            <a href="tel:+<%= city.phonetwo %>">
              <%= city.phonetwo %>
            </a>
          </li>
          <% end %>
          <% if city.phonethree != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Моб.
            </span>
            <a href="tel:+<%= city.phonethree %>">
              <%= city.phonethree %>
            </a>
          </li>
          <% end %>
          <% if city.adress != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Адрес:
            </span>
            <%= city.adress %>
          </li>
          <% end %>
          <% if city.worktime != "" %>
          <li class="cities__li">
            <span class="text--bold">
              График:
            </span>
            <%= city.worktime %>
          </li>
          <% end %>
          <% if city.name != "" %>
          <li class="cities__li">
            <span class="text--bold">
              Менеджер:
            </span>
            <%= city.name %> <%= city.surname %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

</section>




<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Phoneone:</strong>
  <%= @contact.phoneone %>
</p>

<p>
  <strong>Phonetwo:</strong>
  <%= @contact.phonetwo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @contact.adress %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %> -->