<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Phoneone:</strong>
  <%= @contact.phoneone %>
</p>

<p>
  <strong>Phonetwo:</strong>
  <%= @contact.phonetwo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @contact.adress %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
