<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <%= form.text_field :title, class: "form-control admin__input", placeholder: "Название города" %>
    </div>

    <div class="col-lg-6">
      <%= form.collection_select :contact_id, Contact.order(:title), :id, :title, { include_blank: "Выберите область" }, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: "admin__btn", value: "Добавить город" %>
  </div>
<% end %>
