<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @city.title %>
</p>

<p>
  <strong>Phoneone:</strong>
  <%= @city.phoneone %>
</p>

<p>
  <strong>Phonetwo:</strong>
  <%= @city.phonetwo %>
</p>

<p>
  <strong>Phonethree:</strong>
  <%= @city.phonethree %>
</p>

<p>
  <strong>Emailone:</strong>
  <%= @city.emailone %>
</p>

<p>
  <strong>Emailtwo:</strong>
  <%= @city.emailtwo %>
</p>

<p>
  <strong>Worktime:</strong>
  <%= @city.worktime %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @city.adress %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @city.surname %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @city.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @city.instagram %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @city.slug %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
