<!DOCTYPE html>
<html lang="ru">

<head>
	<%= yield :seo %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149538697-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-149538697-1');
	</script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= favicon_link_tag %>
	<%= yield :head %>
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
</head>

<body>
	<% if admin_signed_in? %>
	<%= link_to points_path do %>
	<div class="admin__enter">
		Админ панель
	</div>
	<% end %>
	<% end %>
	<%= yield %>
	<div class="remodal" data-remodal-id="modal">
		<button data-remodal-action="close" class="remodal-close"></button>
		<h1>Подобрать тур онлайн</h1>
		<%= form_for @selection, :html => {class: 'selection-form'} do |f| %>
		<div class="row">
			<div class="col-lg-12">
				<%= f.text_field :name, required: true, placeholder: 'Ваше ФИО', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :phone, required: true, placeholder: 'Ваш номер телефона', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :city, required: true, placeholder: 'Ваш город', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :tour, required: true, placeholder: 'Страна, город, курорт', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :days, required: true, placeholder: 'Количество дней', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :budget, required: true, placeholder: 'Ваш бюджет', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_field :mail, placeholder: 'Ваш email', class: "selection-form__input" %>
			</div>
			<div class="col-lg-12">
				<%= f.text_area :text, placeholder: ' Ваши пожелания или замечания', class: "selection-form__textarea" %>
			</div>
			<div class="col-lg-12">
				<%=f.submit 'Подать заявку', class: "selection-form__btn"  %>
			</div>
		</div>
		<% end %>
	</div>
</body>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector: 'textarea#tour_description'
	});
</script>
<script>
	// open mobile menu
	$('.js-toggle-menu').click(function (e) {
		e.preventDefault();
		$('.mobile-header-nav').slideToggle();
		$(this).toggleClass('open');
	});
</script>

</html>